- var assetsPath = "/assets/";
- var imgPath = assetsPath+'img/'
- var service_name = 'Sheep Code'
- var title_separator = ' | '

-
	var pages = {
		top:{
			url: '/',
			title: `${service_name}`,
			description: 'Sheep Codeのトップページです。'
		},
	}
