header.l-header
	.l-header__wrapper
		.l-header__image
			a(href="/")
				img(src=imgPath + "common/header_logo.svg", alt="Sheep Code ロゴ")
		nav.l-header__nav
			ul.l-header__navItems
				li.l-header__navItem
					a(href="#concept") Concept
				li.l-header__navItem
					a(href="#works") Works
				li.l-header__navItem
					a(href="#price") Price
				li.l-header__navItem
					a(href="#infomation") Information
				li.l-header__navItem
					a(href="#blog") Blog
				li.l-header__navItem
					a(href="#contact") Contact
	.l-header__spNav#spmenu_trigger
		span
		span
		span



