nav.l-navigation#sp_navigation
	.l-navigation__wrapper
		ul.l-navigation__items
			li.l-navigation__item
				a(href="#concept") Concept
			li.l-navigation__item
				a(href="#works") Works
			li.l-navigation__item
				a(href="#price") Price
			li.l-navigation__item
				a(href="#infomation") Information
			li.l-navigation__item
				a(href="#blog") Blog
			li.l-navigation__item
				a(href="#contact") Contact
	.l-navigation__grayBlock
