@use "../../variables" as var;
@use "../../modules/" as mod;

.c-heading {
	font-family: var.$ff_roboto;
	font-size: 35px;
	line-height: 40px;
	font-weight: bold;
	letter-spacing: 0.04em;
	margin-bottom: 30px;
	@include mod.mq("md") {
		font-size: 40px;
		margin-bottom: 40px;
	}

	&--md {
		width: fit-content;
		margin: 0 auto 30px;
		font-size: 30px;
		font-weight: bold;
		letter-spacing: 0.04em;
		position: relative;
		vertical-align: middle;
		&::before {
			content: "";
			display: inline-block;
			background: var.$color_yellow;
			width: 3px;
			height: 30px;
			margin-right: 10px;
			position: relative;
			top: 3.5px;
		}
	}
	&--sm {
		width: fit-content;
		margin: 0 auto;
		font-size: 25px;
		font-weight: bold;
		letter-spacing: 0.04em;
		position: relative;
		vertical-align: middle;
		&::before {
			content: "";
			display: inline-block;
			background: var.$color_yellow;
			width: 3px;
			height: 25px;
			margin-right: 10px;
			position: relative;
			top: 3.5px;
		}
	}
}
