@use "../../variables" as var;
@use "../../modules/" as mod;

.c-heading {
	font-family: var.$ff_roboto;
	font-size: 35px;
	line-height: 40px;
	font-weight: bold;
	letter-spacing: 0.04em;
	margin-bottom: 30px;
	@include mod.mq("md") {
		font-size: 40px;
		margin-bottom: 40px;
	}
}
