@use "../variables" as var;

.l-header {
	height: 80px;
	padding: 0 60px;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
	&__navItems {
		display: flex;
		gap: 35px;
	}

	&__navItem {
		a {
			color: var.$color_black;
			font-size: 15px;
			font-weight: bold;
		}
	}
}
