@use "../variables" as var;
@use "../modules/" as mod;
// ヘッダーのCSS
.l-header {
	height: 60px;
	padding: 0 30px;
	background-color: var.$color_white;
	filter: drop-shadow(0px 2px 7px rgba(51, 51, 51, 0.16));
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 15;
	@include mod.mq("md") {
		height: 80px;
		padding: 0 60px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		max-width: 1246px;
		margin: auto;
	}

	&__nav {
		display: none;
		@include mod.mq("md") {
			display: block;
		}
	}
	&__navItems {
		display: flex;
		gap: 35px;
	}

	&__navItem {
		a {
			color: var.$color_black;
			font-size: 15px;
			font-weight: bold;
		}
	}

	&__spNav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 35px;
		height: 35px;
		background: var.$color_yellow;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		right: 30px;
		transform: translateY(-50%);
		cursor: pointer;
		@include mod.mq("md") {
			display: none;
		}
		&.is-active {
			background: var.$color_gray;
		}
		&.is-active span:first-of-type {
			transform: rotate(-135deg);
			position: absolute;
			top: 17px;
			height: 2px;
		}
		&.is-active span:nth-of-type(2) {
			opacity: 0;
		}
		&.is-active span:last-of-type {
			transform: rotate(135deg);
			position: absolute;
			top: 14px;
			height: 2px;
		}
		span {
			display: block;
			width: 20px;
			height: 2px;
			border-radius: 20px;
			background: var.$color_black;
			transition: all 0.35s ease;
			&:nth-of-type(n + 2) {
				margin-top: 3px;
			}
		}
	}
}
