@use "../../variables" as var;
@use "../../modules/" as mod;

.p-home {
	&__concept {
		background: var.$color_white;
	}
	&__conceptIntro {
		font-size: 15px;
		letter-spacing: 0.06em;
		line-height: 30px;
		color: var.$color_darkGray;
		width: fit-content;
		margin: 0 auto;
		@include mod.mq("md") {
			font-size: 16px;
		}
		span {
			color: var.$color_yellow;
			font-weight: bold;
		}
	}
	&__conceptItems {
		width: 100%;
		max-width: 1037px;
		margin: 30px auto 0;
		display: flex;
		flex-direction: column;
		gap: 30px 0;
		@include mod.mq("md") {
			margin: 60px auto 0;
			gap: 0 40px;
			flex-direction: row;
		}
	}
	&__conceptItem {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include mod.mq("md") {
			width: calc((100% / 3) - 26.6666666px);
		}
	}
	&__conceptTop {
		width: 250px;
		height: 250px;
		border-radius: 50%;
		background: var.$color_yellow;
		filter: drop-shadow(3px 3px 10px rgba(51, 51, 51, 0.16));
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 24px;
		margin-bottom: 20px;
	}
	&__conceptIcon {
		width: 50px;
		margin-bottom: 15.5px;
	}
	&__conceptHeading {
		font-size: 20px;
		font-weight: bold;
		line-height: 30px;
	}
	&__conceptText {
		font-size: 15px;
		line-height: 30px;
	}

	&__worksItem {
		width: 100%;
		max-width: 450px;
		margin: 0 20px;
	}
	&__worksBottom {
		width: 100%;
		max-width: 1246px;
		margin: 70px auto 0;
		@include mod.mq("md") {
			margin: 90px auto 0;
		}
	}
	&__worksButton {
		text-align: center;
		line-height: 70px;
		font-size: 20px;
		font-weight: bold;
		margin: 0 auto;
		@include mod.mq("md") {
			margin: initial;
			margin-left: auto;
		}
	}
	&__price {
		width: 100%;
		max-width: 900px;
		background: var.$color_white;
		margin: 0 auto;
		padding: 40px 20px 50px;
		@include mod.mq("md") {
			padding: 70px 144px 100px;
		}
	}

	&__priceDetail {
		margin-bottom: 70px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&__priceHeading {
		width: fit-content;
		margin: 0 auto 40px;
		font-size: 25px;
		font-weight: bold;
		letter-spacing: 0.04em;
		position: relative;
		vertical-align: middle;
		&::before {
			content: "";
			display: inline-block;
			background: var.$color_yellow;
			width: 3px;
			height: 25px;
			margin-right: 10px;
			position: relative;
			top: 3px;
		}
	}
	&__priceItem {
		padding-bottom: 10px;
		border-bottom: 1px solid var.$color_gray04;
		&:nth-of-type(n + 2) {
			padding-top: 20px;
			@include mod.mq("md") {
				padding-top: 30px;
			}
		}
	}
	&__priceTitle {
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 0.04em;
		margin-bottom: 10px;
	}

	&__priceDetails {
		width: 100%;
		gap: 0 40px;
		letter-spacing: 0.04em;
		@include mod.mq("md") {
			display: flex;
		}

		&--price {
			display: inline-block;
			width: 100%;
			max-width: max-content;
			line-height: 25px;
			margin-bottom: 10px;
			@include mod.mq("md") {
				margin-bottom: 0;
			}
		}
		&--text {
			display: inline-block;
			width: 100%;
			max-width: max-content;
			line-height: 25px;
		}
	}
	&__priceAnnotation {
		margin-top: 20px;
	}
	&__priceAnnotationItems {
		font-size: 11px;
		letter-spacing: 0.06em;
		line-height: 16px;
	}

	&__priceAnnotationItem {
		&::before {
			content: "※";
		}
	}
	&__infomation {
		width: 100%;
		max-width: 1010px;
		margin: 70px auto 0;
	}
	&__infomationNews {
		max-width: 600px;
	}
	&__infomationHeading {
		font-family: var.$ff_roboto;
	}

	&__infomationWrapper {
		@include mod.mq("md") {
			display: flex;
			gap: 0 60px;
		}
	}
	&__infomationNewsContainer {
		padding: 10px;
		background: var.$color_gray05;
		@include mod.mq("md") {
			padding: 30px;
		}
	}
	&__infomationNewsItems {
		background: var.$color_white;
		border-radius: 5px;
		padding: 35px 20px;
		@include mod.mq("md") {
			padding: 35px 40px;
		}
	}

	&__infomationNewsItem {
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid var.$color_gray04;
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&__infomationNewsTop {
		margin-bottom: 10px;
	}

	&__infomationNewsDate {
		font-size: 14px;
		font-weight: bold;
		display: inline-block;
		margin-right: 10px;
	}

	&__infomationNewsGenre {
		background: var.$color_yellow;
		font-weight: bold;
		font-size: 11px;
		padding: 2px 8px;
		border-radius: 20px;
	}
	&__infomationNewsText {
		font-size: 14px;
		line-height: 27px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}

	&__infomationSns {
		width: 100%;
		max-width: 350px;
		margin-top: 40px;
		@include mod.mq("md") {
			margin-top: 0;
		}
	}
	&__infomationSnsContainer {
		border: 1px solid var.$color_black;
		min-height: 600px;
	}

	&__contact {
		width: 100%;
		margin: auto;
		max-width: 900px;
		padding: 40px 0 60px;
		border: 1px solid var.$color_gray06;
		@include mod.mq("md") {
			padding: 60px 0 70px;
		}
	}
	&__contactHeading {
		margin-bottom: 40px;
	}
	&__contactMain {
		max-width: 700px;
		margin: 0 auto;
	}
	&__contactItems {
		padding: 0 20px;
		@include mod.mq("md") {
			padding: 0;
		}
	}

	&__contactItem {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid var.$color_gray06;
		&:last-of-type {
			margin-bottom: 0;
			border-bottom: none;
		}
	}

	&__contactHead {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}

	&__contactHeadCompany {
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 0.04em;
		margin-right: 10px;
	}

	&__contactHeadGenre {
		// background: var.$color_yellow;
		font-weight: bold;
		font-size: 11px;
		padding: 5px 14px;
		border-radius: 20px;
		&.--optional {
			border: 1px solid var.$color_gray06;
		}
	}

	&__contactValue {
		input {
			display: inline-block;
			width: 100%;
			border-radius: 5px;
			border: 1px solid var.$color_gray06;
			height: 35px;
			padding: 5px 10px;
			outline: none;
		}
		textarea {
			display: inline-block;
			width: 100%;
			border-radius: 5px;
			border: 1px solid var.$color_gray06;
			min-height: 300px;
			resize: none;
			padding: 10px;
			outline: none;
		}
	}
	&__contactButton {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		line-height: 40px;
		margin: 30px auto 0;
	}
}
