// 基本のカラー
$color_black: #333;
$color_white: #fff;

$color_yellow: #faed95;

$color_gray: #f0f0f0;
$color_gray02: #cccccc;
$color_gray03: #fafafa;
$color_gray04: #adaaaa;
$color_gray05: #e3e2e2;
$color_gray06: #e3e3e3;

$color_darkGray: #454545;
